.gur{
    background-image: linear-gradient(220deg,white,gold);
}
#tu{
    font-size: 26pt;
    color: rgb(78, 126, 6);
    padding-top: 20pt;
}
.me{
    display:flex ;
    justify-content: center;
}
.me1 img{
    height: 30pc;
    
}
.me2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
    font-weight: bold;
    background-image: linear-gradient(gold,beige);


}
.center{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
    padding: 20pt;
}